# ─── CORE ────────────────────────────────────────────────────
Django==6.0.5
djangorestframework==3.17.1
gunicorn==26.0.0

# ─── AUTH ────────────────────────────────────────────────────
django-allauth==65.17.0

# ─── DATABASE ────────────────────────────────────────────────
psycopg2-binary==2.9.12

# ─── UTILITIES ───────────────────────────────────────────────
python-dotenv==1.2.2
Pillow==12.2.0
requests==2.34.2

# ─── ADMIN UI ────────────────────────────────────────────────
django-jazzmin==3.0.4

# ─── API & CORS ──────────────────────────────────────────────
django-cors-headers==4.9.0
